
@{
}

@model List<Bowler>

@if(ViewBag.Team)

<div class="row m-1 p-1">

    <div id="types" class="col-2">
        <vc:teams></vc:teams>
    </div>

    <div id="types" class="col-10">
        <div>

            <h1>@(ViewBag.TeamName != null ? ViewBag.TeamName : "All Bowlers")</h1>

            <table class="table table-bordered table-striped">

                <thead class="font-weight-bold">
                    <tr>
                        <td>First Name</td>
                        <td>M</td>
                        <td>Last Name</td>
                        <td>Street</td>
                        <td>City</td>
                        <td>State</td>
                        <td>Zip Code</td>
                        <td>Phone Number</td>
                        <td>Team</td>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.BowlerFirstName</td>
                            <td>@x.BowlerMiddleInit</td>
                            <td>@x.BowlerLastName</td>
                            <td>@x.BowlerAddress</td>
                            <td>@x.BowlerCity</td>
                            <td>@x.BowlerState</td>
                            <td>@x.BowlerZip</td>
                            <td>@x.BowlerPhoneNumber</td>
                            <td>@x.Teams.TeamName</td>


                            <td><a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@x.BowlerId">Edit</a></td>
                            <td><a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@x.BowlerId">Delete</a></td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
</div>